<!-- personagens/templates/personagens/personagens_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

	<p>nome       : {{ personagem.nome        }}</p>
    <p>alcunha    : {{ personagem.alcunha     }}</p>
    <p>mote       : {{ personagem.mote        }}</p>
    <p>biografia  : {{ personagem.biografia   }}</p>
    <p>ficha_url  : {{ personagem.ficha_url   }}</p>
    <p>ficha_pdf  : {{ personagem.ficha_pdf   }}</p>
    <p>nascimento : {{ personagem.nascimento  }}</p>
    <p>abraco     : {{ personagem.abraco      }}</p>
    <p>morte_final: {{ personagem.morte_final }}</p>
    <p>geracao    : {{ personagem.geracao     }}</p>
    <p>senhor     : {{ personagem.senhor      }}</p>
    <p>cla        : {{ personagem.cla         }}</p>
    <p>Disciplinas:</p>
    <ul>
        {% for disciplina in personagem.disciplinas.all %}
            <li>{{disciplina.disciplina}} - {{ disciplina.nome }}</li>
        {% endfor %}
    </ul>
{#    <p>livro	  : {{ personagem.livro       }}</p> #}
    <a href="{% url 'personagem_list' %}">Voltar à lista de Personagens</a>
</body>
</html>
