<!-- personagens/templates/personagens/personagens_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for personagem in personagens %}
            <li>
                <a href="{% url 'personagens_detail' personagem.pk %}">{{ personagem.nome }} - {{ personagem.livro.nome }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'personagem_novo' %}">Adicionar Novo Personagem</a>
</body>
</html>
